<div class='mt-4 container text-center'>

    <div class='row'>
        {{#each courses}}
            <div class='col-sm-6 col-lg-4 mt-4'>
                <div class='p-3 card card-course-item'>
                    <a href='/course/{{this.slug}}'>
                        <img src={{this.image}} class='card-img-top' alt='...' />
                    </a>
                    <div class='card-body'>
                        <a href='/course/{{this.slug}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                        <p class='card-text'>{{this.description}}</p>
                        <button href='#' class='btn btn-primary'>Mua khoa hoc</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>